<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=192.168.30.76;database=SHJGCus;uid=sa;pwd=12!@QWqw;Max Pool Size = 512;" />
    <!--<add name="ConnectionString" connectionString="server=.;database=shjgcusqt;uid=sa;pwd=sa123;Max Pool Size = 512;" />-->
  </connectionStrings>
  <appSettings>
    <add key="djkcode" value="CNGZG510202" />
    <add key="CUSTOMSCODE" value="4218" />
    <add key="ConnectionString" value="server=192.168.30.76;database=SHJGCus;uid=sa;pwd=12!@QWqw;Max Pool Size = 512;" />
    <!--<add key="ConnectionString" value="server=.;database=shjgcusqt;uid=sa;pwd=sa123;Max Pool Size = 512;" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".unity3d" mimeType="application/unity3d" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />  
        	<add name="Access-Control-Allow-Headers" value="Content-Type" />  
        	<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />  
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: C5348DF0-BD0C-461E-ACF5-D47A2E599B98-->